#navigation{
    display:flex;
    justify-content: space-between;
    padding-bottom: 11px;
}

#navigation a{
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-bottom: 1px red solid;
    background-color: black;
    text-decoration: none;
    color: white;
}

#navigation a:hover{
    background-image: radial-gradient(white, black);
    border-bottom: 2px red solid;
}

#descPic{
    width:100%;
    max-height: 216px;
}

#Steps{
    display: grid;
    grid-template-columns: 20% 10% 70%;
    border: 2px solid ;
    border-radius: 5px;
    margin:5px;
}

#Steps:hover{
    box-shadow: 5px 5px 5px red;
}
#stepsImg{
    width: 185px;
    height: 175px;
}

#hell{
    grid-column-start: 3;
}

#abt{
    display:flex;
    justify-content:space-around;
    align-items: center;
    flex-direction: row-reverse;
}

#AboutUs{
    width:70%;
    display:inline-block;
}

#newsletter{
    width:30%;
    display:inline-block
}

body{
    font-family: 'Truly Madly Dpad';
    background-image: radial-gradient(grey, black);
    color: white;
    
}
