nav{
    background-color: blue;
    overflow: hidden;
}

nav a{
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    float: left;
    padding: 14px 16px
}

nav a:hover{
    background-color: lightblue;
    color: black;
}